body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container {
    width: 100%;
    max-width: 800px;
    min-width: 530px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

#sl1, #sl2, #sl3 {
    display: none;
}

.inactive {
    opacity: 0.5;
}